* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100%;
    /* Sayfa yüksekliğini ekranın tamamına ayarlar */
    margin: 0;
    /* Varsayılan dış boşlukları sıfırlar */
    padding: 0;
    /* Varsayılan iç boşlukları sıfırlar */
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover {
    color: orange
}

header {
    position: relative;
    padding: 0 2rem;
    width: 100%;
    background-color: #fff;
}

.navbar {
    width: 100%;
    height: 4.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* .navbar .search_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
} */

/* .action_btn {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2 ease;
    color: #121212;
    //padding: 0 10px; 
} */

/* .action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
} */


/* dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: #fafafa;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {

    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open {
    height: 240px;
}


/* CSS */
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.search-container {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px, 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-container input {
    width: 15rem;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.search-container input[type="text"] {
    padding-left: 3px;
}

.search-container a {
    padding: 0.5rem 1rem;
    justify-self: end;
}

.search-container a i {
    color: grey;
    font-size: 1.1rem;
    padding: 0.5rem, 2rem;
}

/* CSS */
.login_button {
    background-color: transparent;
    border: 1px solid black;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    padding: 1.2rem 3rem;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: scale(0.8);
    margin-top: 1rem;
}

.login_button:hover,
.login_button:active {
    outline: 0;
}

.login_button:hover {
    background-color: transparent;
    cursor: pointer;
}

.login_button:before {
    background-color: rgba(255, 166, 0, 0.775);
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.login_button:hover:before {
    background-color: orange;
}

.cart-link {
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    width: 50px;
    filter: brightness(0%);
}

.cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;

    position: absolute;
    top: 4px;
    left: 22px;

    width: 26px;
    text-align: center;
}

.right-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: end;
}

@media (min-width: 768px) {
    .login_button {
        padding: 16px 45px;
    }
}




@media(max-width: 992px) {

    .navbar .links,
    .navbar .right-section .login_button,
    .right-section .cart-link .cart-text {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .navbar {
        width: 100%;
    }

    .dropdown_menu {
        display: block;
        left: 2rem;
        max-width: 100%;
    }

    .right-section {
        transform: scale(0.95);
        gap: 0;
    }

    header {
        padding: 0 0.8rem;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}

@media(max-width: 376px) {
    .search-container a {
        padding: 0.2rem 0.8rem;
    }
}